
body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content:flex-start;
    }
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;    
}

h1 {
  font-size: 20px;
  margin-left: 15px;
}

.threelinemenu {
  height: 30px;
  margin-right:15px ;
}

/*
division between top bar and the rest
*/

.mid-page {
  background-image: url("images/Ilustration-mobile.png");
  display: flex;
    flex-direction: column;
  align-items: center;
  flex:1;
  justify-content: space-between;
}

.greeting {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 80px;
}

h2 {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  text-align: center;
  font-size: 40px;
  margin: 0px 40px 0px 40px;
}

.firstinfo {
  color: #172B4D;
}

.secondinfo {
  color: teal; 
}

h3 {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  margin: 58px 15px;
}

/*
footer style (links to social media)
*/

.bottombar {
  display: flex;
  margin: 58px 0px;
}

.bottombar > * {
  margin: 10px;
}

/*
This media query is so the background image stretches or shrinks for any screen cellphone size.
*/

@media (max-width: 350px) {
  .mid-page {
    background-size: contain;
  }
}

@media (min-width: 350px) {
  .mid-page {
    background-size: cover;
  }
}
