
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

body {
  display: flex;
  flex-direction: column;
}

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  margin-top: 5px;
  border: solid 3px green;
}

.logo {
  font-size: 22px;
  margin-left: 15px;
  color: #172b4d;
  text-decoration: none;
}

.logo:hover {
  font-size: 28px;
}

nav {
  height: 30px;
  margin-right: 15px;
}

nav:hover {
  height: 34px;
}

/*
division between top bar and the rest
*/

.port-front {
  background-image: url("images/Ilustration-mobile.png");
  display: flex;
  flex-direction: column;
  height: 90vh;
  align-items: center;
  justify-content: space-between;
  border: solid 2px red;
}

.greeting {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 50px;
  border: solid 2px purple;
}

h1, h2 {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  font-size: 40px;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 20px;;
  color:#172b4d;
  border: solid 2px pink;
  ;
}

.secondinfo {
  color: #36b37e;
}

p {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  margin: 25px 12px;
  border: solid 3px  turquoise;
  margin-bottom: 0px;
}

/*
footer style (links to social media)
*/

.bottombar {
  display: flex;
  margin-top: 50px;
  margin-bottom: 10px;
  height: 40px;
  justify-content: space-between;
  align-items: center;
  border: solid 3px orange;
}

.bottombar > * {
  margin-right: 30px;
}

li {
  list-style-type: none;
}

a :hover {
  border: solid 4px rgb(97, 102, 97);
}

/*
This media query is so the background image stretches or shrinks for any screen cellphone size.
*/

@media (max-width: 350px) {
  .mid-page {
    background-size: contain;
  }
}

@media (min-width: 350px) {
  .mid-page {
    background-size: cover;
  }
}

.intro-works {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.deco-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 32px;
  padding: 8px;
  margin-top: 64px;
  margin-bottom: 22px;
}

.img-arrow {
  height: 18px;
  
}

.indicator {
  width: 40px;
  height: 4px;
  border-radius: 24px;
  background-color: #36b37e;
}

/*
Template for works
*/


.works-template {
  display: flex;
  display: block;
  height: 474px;
  width: 327px;
  border-radius: 8px;
  border: solid 1px blue;
}

.work-image {

}

.work-data {

}
