
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
}

.logo {
  font-size: 22px;
  margin-left: 15px;
  color: #172b4d;
  text-decoration: none;
}

.logo:hover {
  font-size: 28px;
}

nav {
  height: 30px;
  margin-right: 15px;
}

nav:hover {
  height: 34px;
}

/*
division between top bar and the rest
*/

.port-front {
  display: flex;
  flex-direction: column;
  background-position: center;
  background-size: 100%;
  height: calc(100vh - 40px);
  align-items: center;
  justify-content: space-between;
  background-image: url("images/Ilustration-mobile.png");
  background-repeat: no-repeat;
}

.greeting {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 74px;
}

.firstinfo,
.secondinfo {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  text-align: center;
  font-size: 40px;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 20px;
  color: #172b4d;
  width: 327px;
}

.secondinfo {
  color: #36b37e;
}

.paragraph {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  margin: 25px 20px;
  width: 327px;
  height: 164px;
}

/*
footer style (links to social media)
*/

.bottombar {
  display: flex;
  margin-top: 50px;
  margin-bottom: 10px;
  height: 40px;
  justify-content: space-between;
  align-items: center;
}

.bottombar > * {
  margin: 10px;
}

a :hover {
  border: solid 4px rgb(97, 102, 97);
}

/*
Works area introduction
*/

.intro-works {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.deco-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 32px;
  margin-top: 64px;
  margin-bottom: 22px;
}

.img-arrow {
  height: 18px;
}

.works-text {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  margin: 1px 24px;
  color: #172b4d;
  text-align: center;
}

.indicator {
  width: 48px;
  height: 4px;
  border-radius: 24px;
  margin-top: 24px;
  margin-bottom: 24px;
  background: #36b37e;
}

/*
Template for works
*/

.works-template {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 474px;
  width: 327px;
  border-radius: 8px;
  background-color: #ebf0ee;
  border: 1px solid #d0d9d4;
}

.work-data {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 327px;
  height: 222px;
  border-radius: 8px;
  background-color: #fff;
  align-self: center;
}

.work-title {
  width: 295px;
  height: 57px;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #3a4a42;
  text-align: center;
  margin-top: 24px;
}

/*
Tags area
*/

.tag-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 305px;
  height: 32px;
  align-content: center;
  margin-top: 16px;
}

.tags {
  display: flex;
  align-items: center;
  height: 32px;
  margin: 4px;
  font-size: 12px;
  background-color: #ebf0ee;
  padding: 1px 8px;
  border-radius: 4px;
  text-align: center;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  color: #3a4a42;
}

.btn-more-project {
  background-color: #36b37f;
  width: 122px;
  height: 48px;
  border-radius: 4px;
  padding: 12px;
  margin-top: 29px;
  margin-bottom: 24px;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  color: #fff;
  transition: width 2s, height 2s, background-color 2s ;
}

/*
Grid container with works templates
*/

.grid-container1 {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 12px;
  justify-content: center;
}

.grid-container2 {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 12px;
  justify-content: center;
}

.work1 {
  grid-row: 1;
}

.work2 {
  grid-row: 2;
}

.work3 {
  grid-row: 3;
}

.work4 {
  grid-row: 4;
}

.work5 {
  grid-row: 5;
}

.work6 {
  grid-row: 6;
}

/*
About me
*/

.aboutme-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-image: url("images/illustration 1- about me-mobile.png"), url("images/illustration- about me- mobile.png");
  background-repeat: no-repeat, no-repeat;
  background-position: top 20px right, bottom -10px left;
  margin-bottom: 59px;
}

.aboutme-h2 {
  width: 320px;
  height: 48px;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  margin-top: 68px;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  align-items: center;
  color: #172b4d;
}

.aboutme-p {
  margin-top: 24px;
  width: 351px;
  height: 189px;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #172b4d;
}

.aboutme-button {
  background-color: #36b37f;
  width: 159px;
  height: 48px;
  border-radius: 4px;
  padding: 12px;
  margin-top: 29px;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  font-size: 17px;
  color: #fff;
  transition: width 2s; 
}

/*
About me templates
*/

.about-template {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: #ebf0ee;
  border: 1px solid #c1c7d0;
  border-radius: 8px;
  align-items: center;
  box-sizing: border-box;
  height: 352px;
  width: 327px;
}

.about-img {
  width: 150px;
  height: 150px;
  margin-top: 40px;
  margin-bottom: 10px;
}

.hability {
  width: 337px;
  height: 32px;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #344563;
}

.detail-container {
  display: flex;
  margin: 20px 30px 24px 30px;
  flex-wrap: wrap;
  justify-content: center;
  height: 120px;
  width: 327px;
  align-content: flex-start;
}

.details {
  display: flex;
  width: 89px;
  height: 40px;
  margin: 5px;
  background-color: #fff;
  border-radius: 8px;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #36b37e;
  justify-content: center;
  align-items: center;
  padding: 2px 1px;
}

/*
Grid container with about me templates
*/

.about1 {
  grid-row: 1;
}

.about2 {
  grid-row: 2;
}

.about3 {
  grid-row: 3;
}

/*
Button interactions
*/

.btn-more-project:hover {
  padding: 12px;
  box-shadow: 1px 8px 16px rgba(54, 179, 127, 0.24);
  border-radius: 4px;
  width: 152px;
  height: 64px;
}

.btn-more-project:enabled {
  padding: 12px;
  background: #36b37f;
  border-radius: 4px;
}

.aboutme-button:hover {
  padding: 12px;
  width: 200px;
  background: #36b37f;
  box-shadow: 1px 8px 16px rgba(54, 179, 127, 0.24);
  border-radius: 4px;
}

.aboutme-button:enabled {
  padding: 12px;
  background: #36b37f;
  border-radius: 4px;
}

/*
About me and contact form
*/
.aboutme_form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 60px;
}

.formp {
  width: 327px;
  height: 363px;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
}

.about_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-image: url(images/illustration-contact-form.png);
  background-repeat: no-repeat;
  background-position: bottom 420px right;
}

.formsub {
  margin-top: 58px;
  display: flex;
  flex-direction: column;
}

.formname {
  width: 327px;
  height: 48px;
  border-radius: 4px;
  background: #fff;
  border: 1px solid #d0d9d4;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: #6b778c;
  padding: 1px 15px;
}

.formemail {
  margin-top: 24px;
  width: 327px;
  height: 48px;
  border-radius: 4px;
  background: #fff;
  border: 1px solid #d0d9d4;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: #6b778c;
  padding: 1px 15px;
}

.formpart1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.textholder {
  margin-top: 24px;
  padding: 12px;
  width: 327px;
  height: 114px;
  font-size: 15px;
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #60c095;
}

.submit_but {
  margin-top: 24px;
  width: 129px;
  height: 48px;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #fff;
  background: #36b37f;
  border-radius: 4px;
}

.emailend {
  margin-top: 19px;
  padding-bottom: 160px;
  width: 375px;
  height: 189px;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #42526e;
}

.final-line {
  width: 134px;
  height: 5px;
  background-color: black;
  border-radius: 10px;
  margin-bottom: 20px;
}

.finalsection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.submit_but:hover {
  background: #36b37f;
  box-shadow: 1px 8px 16px rgba(54, 179, 127, 0.24);
  border-radius: 4px;
}

/*
Hidden Desktop Material (will not ve visible in Mobile)
*/

.desk-header {
  display: none;
}

.desk-header a {
  text-decoration: none;
  margin: 5px 10px;
  color: #172b4d;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
}

.desktop-footer {
  display: none;
}

/* Desktop media queries */

@media only screen and (min-width: 992px) {
  /* header */

  .logo,
  .threelinemenu {
    display: none;
  }

  .desk-header {
    display: block;
  }

  .topbar {
    justify-content: center;
  }

  /* background image front page */

  .desk-background1 {
    background-image: url(images/Header-llustration-desktop.png);
    background-position: top;
    background-size: 100%;
    background-repeat: no-repeat;
  }

  .greeting {
    width: 920px;
  }

  .firstinfo {
    margin-left: 1px;
    margin-right: 1px;
    width: 920px;
  }

  .secondinfo {
    margin-left: 1px;
    margin-right: 1px;
    width: 920px;
  }

  .paragraph {
    width: 770px;
    margin-top: 24px;
    height: auto;
  }

  .port-front {
    height: 756px;
    justify-content: flex-start;
    background-image: none;
    width: 1440px;
  }

  .indicator {
    display: none;
  }

  /* Grid - works */

  .intro-works {
    margin-top: 112px;
    margin-bottom: 52px;
  }

  .grid-container1,
  .grid-container2 {
    grid-template-columns: auto auto auto;
  }

  .works-template {
    height: 474px;
    width: 369px;
  }

  .work-data {
    width: 369px;
    height: 222px;
  }

  .work1 {
    grid-row: 1;
    grid-column: 1;
  }

  .work2 {
    grid-row: 1;
    grid-column: 2;
  }

  .work3 {
    grid-row: 1;
    grid-column: 3;
  }

  .work4 {
    grid-row: 2;
    grid-column: 1;
  }

  .work5 {
    grid-row: 2;
    grid-column: 2;
  }

  .work6 {
    grid-row: 2;
    grid-column: 3;
  }

  /* About me */

  .aboutme-h2 {
    width: 447px;
  }

  .aboutme-p {
    width: 770px;
    height: auto;
  }

  /* Grid - about me */

  .about-template {
    height: 352px;
    width: 369px;
  }

  .about1 {
    grid-row: 1;
    grid-column: 1;
  }

  .about2 {
    grid-row: 1;
    grid-column: 2;
  }

  .about3 {
    grid-row: 1;
    grid-column: 3;
  }

  .aboutme-container {
    width: 1440px;
    margin-top: 192px;
    background-image: url("images/illustration-about-me-2-desktop-left.png"), url("images/illustration about me desktop right.png");
    background-position: bottom 36px left, top right;
  }

  body {
    max-width: 1440px;
    margin: auto;
    align-self: center;
  }

  .aboutme_form {
    flex-direction: row;
    width: 1171px;
    height: 490px;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 40px;
  }

  .background-image-contact {
    background-image: url(images/illustration-1-contact-form-desktop-left.png), url(images/illustration-2-contact-form-desktop-middle.png), url(images/Ilustration-3-contact-form-desktop-right.png);
    background-position: bottom left, bottom 100px left 300px, bottom right;
    background-repeat: no-repeat, no-repeat, no-repeat;
    width: 1440px;
    display: flex;
    justify-content: center;
  }

  .formpart1 {
    width: 684px;
    height: 330px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  .formp {
    width: 463px;
    height: 256px;
    display: flex;
    margin-right: 24px;
    justify-content: flex-start;
    text-align: left;
    align-items: center;
    font-size: 30px;
  }

  .about_form {
    justify-content: flex-start;
    align-items: flex-start;
    background-image: none;
  }

  .emailend {
    display: none;
  }

  .desktop-footer {
    display: block;
    display: flex;
    flex-direction: column-reverse;
  }

  .formsub {
    width: 463px;
    height: 256px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 1px;
  }

  .finalsection {
    flex-direction: column-reverse;
    justify-content: flex-end;
    display: none;
    align-items: flex-start;
  }

  .final-line {
    margin-bottom: 1px;
    height: 1px;
    width: 1440px;
    background: #dfe1e6;
  }

  .bottombar {
    margin-top: 1px;
    display: flex;
    justify-content: center;
  }

  .formname {
    width: 660px;
  }

  .formemail {
    width: 660px;
  }

  .textholder {
    width: 660px;
  }
}
